:root {
    --card-gap: 32px;
    --card-item: 1;
}


.link {
    text-decoration: none;
    color: inherit;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.visually__hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

h1,
h2,
h3,
h4,
p {
    padding: 0;
    margin: 0;
}


.card-set {
    margin-top: calc(-1 * var(--card-gap));
    margin-left: calc(-1 * var(--card-gap));
    flex-wrap: wrap;
    display: flex;
}
.card-item {
    margin-top: 32px;
    flex-basis: calc(100% / var(--card-item) - var(--card-gap));
    margin-left: var(--card-gap);
}
